.about-us-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: rgb(255 255 255 / 0.75);
    align-items: center;
    padding: 50px;
}
h6{
    font-size: 30px;
}

