.add-account{
    display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: auto;
        height: 100%;
        padding: 50px;
        background-color: rgb(255 255 255 / 0.75);
        place-items: center;
        
       border: 1px solid grey; 
       border-radius: 10px;
        justify-content: center;
        padding-top: 50px;
} 
h6{
    font-size: 25px;
}
tr, th{
   padding: 10px;
}
tr, td{
    text-align: center;
 }  