<<<<<<< Updated upstream
.feed-section{
    display: grid;
    grid-template-columns: 3fr .5fr;
    
=======


.feed-section{
    display: grid;
    grid-template-columns: 1fr !important;
    width: 100%;
}
#sidebar{
    width: 350px;
>>>>>>> Stashed changes
}
.post-details{
    display: flex;
    flex-direction: column;
    row-gap: 40px; 
    border-left:  grey solid 1px;
    padding: 10px;
    place-items: center;
}
<<<<<<< Updated upstream
=======
#buttons {
    grid-template-columns: 3fr 1fr 1fr;
    justify-content: space-around;
}
#buttons a{
    width: 30%;
}
.post{
    margin: auto;
}
.post-votes{
    display: flex;
    flex-direction: row;
}

>>>>>>> Stashed changes
.post-details-info{
    text-align: center;
}
.post-details .post-id, .post-details .post-user{
    display: flex;
    flex-direction: row;
    column-gap:10px;
}
.publish button{
    padding: 10px;
}