


#sidebar{
   width: 350px;
}


.post-details{
    display: flex;
    flex-direction: column;
    row-gap: 40px; 
    border-left:  grey solid 1px;
    padding: 10px;
    place-items: center;
}

#buttons {
    grid-template-columns: 3fr 1fr 1fr;
    justify-content: space-around;
}
#buttons a{
    width: 30%;
}

.post{
    margin: auto;
}
.post-votes{
    display: flex;
    flex-direction: row;
}


.post-details-info{
    text-align: center;
}
.post-votes div form button{
    font-size : 15px;
    background-color: white;
    border: 1px solid;
    color: black;
}
.post-details .post-id, .post-details .post-user{
    display: flex;
    flex-direction: row;
    column-gap:10px;
}
.publish button{
    padding: 10px;
}
@media (max-width:900px) {
    .post-votes div{
        display: flex;
        flex-direction: row;
    }
    #sidebar{
        width: 100%;
    }
    #buttons{
        flex-direction: column;
    }

}