*{
    color: white;
}
.login-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
    column-gap: 20px;
    justify-content: center;
}
.login-page .login-info{
    background-color: rgb(255 255 255 /0.3);
    padding: 25px;
}

.login-title-text, .login-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
<<<<<<< Updated upstream
    color: rgb(88, 3, 245);
=======
    color: rgb(18, 2, 161);
    text-shadow:0 4px 5px black ;
    
>>>>>>> Stashed changes
}

.login-title{
    display: grid;
    grid-template-columns: 30% 1fr;
    font-size: 40px;
    color: grey;
    
}
.login-info .login-title-text{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: rgb(0, 184, 168);
    font-family: 'Old English Five', sans-serif;
    
}
.login-title img{
    width: 100%;
    border-radius: 50%;
}
.login-table{
    padding: 20px;
    background-color:rgb(255 255 255 / 0.5);
    border-radius: 5px;
    
}

.login-table form{
    display: flex;
    flex-direction: column;
    opacity: 120%;
}

.login-table form input{
    padding: 20px;
    padding-left: 5px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}
.login-table form button{
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
    color: black;
    cursor: pointer;
}
#forgot {
    padding: 10px;
    border-radius: 10px;
}
#forgot a {
    color: black;
}
@media (max-width: 900px) {
    .login-page{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .login-text{
        font-size: 100%;
    }
    .login-info .login-title-text{
        font-size: 50%;
    }
}