* {
    padding: 0px;
    margin: 0px;
    font-family:quicksand,arial;
}
a {
    text-decoration: None;
}
.post-votes button{
    position: relative;
}
.post-votes{
    display: flex;
    flex-direction: column;
}
.likes form,.dislikes form{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    place-items: center;
}

.logo a{
    display: flex;
    flex-direction: row;
    place-items: center;
    column-gap: 10px;
    color: white;
}
.post-text{
    margin: 50px;
    border: 1px solid grey;
   border-radius: 10px;
}
.submit-form{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.post-votes .viewpost{
    font-size: 20px !important;
}
.post-info-text{
    padding-left: 15px;
}
.post-info-text, .post-bio a{
    overflow-wrap: break-word;
    width: 600px;
}
.profile-posts{
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.post-text-img img{
    display: inline-block;
    border-radius: 5px;
    width:100% !important;
    height:90% !important;
    max-width: 300px !important;
    max-height: 300px!important;
    margin-left:16px;
    margin-right:0px;

}
/* Header */
.nav-bar {
    background-color: #00004d;
    
}
#hamburger-image{
	width: 50px;
	height: 50px;
	margin: 15px;
	display: none;	
}
#hamburger-image:hover{
    cursor: pointer;
}
.logo img{
    width: 50px;
    border-radius: 50%;
}
.nav-bar .logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.posts{
    display: flex;
    flex-direction: column;
    border: grey solid 1px;
    row-gap: 20px;
}

.post-info .profile-posts{
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    column-gap: 20px;
    flex-direction: row;
}
.post-info .profile-posts img{
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.post-container{
    border: solid 1px;
}
.like-counter, .dislike-counter{
    text-align: center;
}
#buttons #log-out a{
    display: flex;
    align-items: center;
    color: white;
    background-color: #ee1212;
    border: white solid 2px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
}
.posts .post-info{
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    column-gap: 10px;
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid;
    border-radius: 10px;
    align-items: center;
}

.post-info .post-votes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post-title{
    margin-bottom: 20px;
}
.post-votes button{
    padding: 20px;
    width: 100%;
    border: none;
    background-color: rgb(255 255 255 / 0);
    border-radius: 50px;
    font-size: 40px;

}
.post-votes button :active{
    background-color: #00004d;
}
/* Bottom Menu */

    

#buttons{
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    
    column-gap: 10px;
}
#buttons a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #eea412;
    border: white solid 2px;
    padding: 10px;
    justify-content: center;
    
    border-radius: 25px;
}
#buttons a:hover{
    opacity: 0.2;
    cursor: pointer;
}
.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
}
.search input {
    
    padding-left: 10px;

}
.search img{

    height: 50px;
}


/* Body */
body {
    background-image: url("http://scc.edu.ph/images/slider-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
main {
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    justify-content: center;
    grid-gap: 40px;

}


/* Related Questions Section */
#sidebar {
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
    background-color:rgb(255 255 255 / 0.5);
    text-align: center;
    max-height: 970px;
}
.related-questions-title h1{
    margin: auto;
    border-bottom: grey solid 1px;
}
.sidebar-info{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    place-items: center;
    padding: 10%;
}
.sidebar-info img{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
.sidebar-info button{
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.feed-section{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(255 255 255 / 0.5);
    padding: 20px;
    margin-top: 10px !important;
    border: grey solid 1px;
    
}
.feed-section .title{
    font-size:43px;
}
@media(max-width : 900px){
    #hamburger-image {
		display: block;

	}
}
@media(max-width: 900px){
    #buttons{
        flex-direction: column;
        display: none;
        justify-content: center;
        margin: 20%;
        margin-top: 20px;
        row-gap: 10px;
    }
    .post-text{
        margin: 10px;
        padding: 20px;
        padding-bottom: 50px;
    }
    main{
        grid-template-columns: 1fr;
    }
    .search{
        display: grid;
        grid-template-columns: 2fr 1fr;


    }
    .feed-section{
        margin:auto;
    }
    .posts .post-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post-info-text{
        width: 300px;
    }
    .post-info .post-votes {
        flex-direction: row;
        border-bottom: 1px solid grey;
    }
}