.post{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    background-color: rgb(255 255 255 / 0.75);

}
.comments{
    display: flex;
    flex-direction: column;

}
.post-details{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.post-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
